html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.landing-container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}


.logo-container {
    position: fixed;
    top: 1rem;
    left: 1.8rem;
  }

.logo-img {
    width: 200px;
}
  
  .landing-container {
    position: relative;
  }


.navigation {
    position: fixed;
    top: 1rem;
    right: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-button {
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    font-size: 12pt;
    text-decoration: none;
    cursor: pointer;
}

.nav-button:hover,
.nav-button:active {
    text-decoration: none;
}

.sign-link {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background-color: #1f8cf0;
    color: black;
    text-decoration: none;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.2s;
}

.sign-link:hover {
    transform: scale(1.05);
}

.main-window {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
}

.title-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-image img {
    width: 90%;
    object-fit: contain;
  }
  

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050a12;
}

.section-content {
    font-size: 2rem;
    color: white;
}

.contact-window {
    background-color: #050a12;
}

/*Learn Window*/

.learn-window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 140px;
    min-height: 100vh;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.left-pane {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.3;
    font-family: 'Michroma', sans-serif;
}

.right-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    padding-top: 30px;
    margin-left: 120px;
}

.feature-block {
    max-width: 500px;
}

.feature-title {
    font-size: 1.8rem;
    font-weight: 200;
    margin: 0;
    font-family: 'Michroma', sans-serif;
}

.feature-desc {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 8px;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
}

.purple {
    color: #D17CFF;
}

.blue {
    color: #3ABEFF;
}

.green {
    color: #00F88A;
}

/* Contact Us Window */

.contact-container {
    height: 100vh;
    padding: 100px 200px;
    box-sizing: border-box;
    background-color: #050a12;
  }  
  
  .contact-hero {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: -10px;
    margin-bottom: 60px;
    line-height: 1.2;
    font-family: 'Michroma', sans-serif;
  }
  
  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: 'Work Sans', sans-serif;
  }
  
  .contact-form input,
  .contact-form textarea {
    background: #050a12;
    border: none;
    padding: 14px 20px;  
    color: white;
    font-size: 1.05rem;
    border-radius: 8px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    resize: none;
    font-family: 'Work Sans', sans-serif;
  }
  
  .contact-form button {
    background-color: #1f8cf0;
    color: black;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    transition: transform 0.2s;
  }
  
  .contact-form button:hover {
    transform: scale(1.05);
  }  